################################################################################################################################################################

# @project        Toto|Splash
# @file           .gitignore
# @author         Lucas Brémond <lucas.bremond@gmail.com>
# @license        MIT License

################################################################################################################################################################

out/
thirdparty/
.vscode

################################################################################################################################################################